<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="Chinook" connectionString="Data Source=.;Initial Catalog=Chinook;Integrated Security=SSPI;" providerName="System.Data.SqlClient"/>
    <add name="Simple.Data.Properties.Settings.DefaultConnectionString" connectionString="Data Source=.;Initial Catalog=Chinook;Integrated Security=SSPI;" providerName="System.Data.SqlClient"/>
  </connectionStrings>
</configuration>